<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Account Activation</div>

                    <div class="card-body">
                        <p>You're receiving this email because you need to finish the activation process.</p>

                        <a href="{{ activation_url }}" class="btn btn-danger btn-lg btn-block mb-4">Activate Account</a>

                        <p class="mb-0">Follow us:</p>
                        <div class="social-links">
                            <a href="#" class="btn btn-instagram mr-2">Instagram</a>
                            <a href="#" class="btn btn-twitter mr-2">Twitter</a>
                            <a href="#" class="btn btn-linkedin mr-2">LinkedIn</a>
                            <a href="#" class="btn btn-youtube">Youtube</a>
                        </div>

                        <p class="mt-3"><i>If you face difficulties with account activation, kindly contact us at <a href="sakshamjainpa2@gmail.com"> Dev Account</a>.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS (optional, if you need JavaScript features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
